<header>
<img class="logo"src="img/coiffe.png" alt="">
<nav>
<ul>
<li><a href="{{ path('app_default') }}">Accueil</a></li>
<li class="scroll"><a href="#">Nos services</a>
<ul class="menu">
<li><a href="{{ path('app_coiff') }}">Coiffures</a></li>
<li><a href="{{ path('app_color') }}">Coloration</a></li>
<li><a href="{{ path('app_makeup') }}">Maquillage</a></li>
</ul>
</li>
<li><a href="{{ path('app_registration') }}">Connexion</a></li>
<li><a href="#">Contact</a></li>

 
</ul>
</nav>

</header>